@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap');

:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./image/ivana-cajina-HDd-NQ_AMNQ-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container{
   max-width: 300px;
   margin: 0 20px auto; 
   padding: 0 2opx;
   width: 100%;
   height: 100px;
}

.weather-man{
    background-color: azure;
   padding: 0.5rem;
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 320px;
   height:50vh;
}

.header{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.location{
    padding: 1rem;
    display: flex;
}

.location span{
    margin: 0 auto;
    font-size: 25px ;
}