
:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
    --color-azure: azure;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Concert One', serif;
    background: url(background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
   max-width: 900px;
   margin: 0 auto; 
   padding: 0 20px;
   width: 100rem;  
}

.weather-man{
    background-color: var(--black);
    opacity: 0.7;
    color: var(--white);
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    border-radius:12px;
}

i{
    font-size: 25px;
}

#input{
    margin: 0 auto;
    display: flex;
    padding-left: 0.5rem;
}

.search{
    padding: 0.7rem;
    border: none;
    outline: none;
    background-color: var(--color-azure);
    border-radius: 5px;
}

.icon{
    background-color: rgba(58, 32, 32, 0.801);
    align-items: center;
    border-radius: 50%;

}

.slide-down{
    animation: slide-down ease .8s;
}

.slide-from-left{
    animation: slide-from-left ease .8s;
}

.rotate-load{
    animation: rotate 0.5s infinite linear;
    animation-play-state: calc(3);
}

.slide-up{
    animation: slide-up ease .8s;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(359deg);
    }
}

@keyframes slide-down{
    from{
        transform: translateY(-30rem);
    }to{
        transform:translateY(0rem)
    }
}

@keyframes slide-from-left {
    from{
        transform: translateX(-22rem);
    }to{
        transform:translateX(0)
    }
}

@keyframes slide-up{
    0%{
        transform: translateY(0);
    }100%{
        transform: translateY(-90rem);
    }
}

.btn{
    border: none;
    outline: none;
    background: var(--light-blue);
    color: var(--white);
    border-radius: 5px;
    padding: 1rem;
    margin: 2px;
    cursor: pointer;
}

.header{
    display: flex;
    padding: 1.5rem 1rem 4rem 1rem;
    justify-content: space-between;
}

#name{
    font-size: 13px;
    font-weight: 800;
    font-family:'orbitron';
    text-align: center;
    padding-right: 80px;
}

.head{
    font-size: 20px;
}

.head:active{
    color: var(--color-sec);
}

#country{
    font-size: 12px;
    padding: 0 0 0 0.4rem;
}

.location{
    padding: 0.2rem 2rem 0 1rem;
    margin: 0 auto;
    font-size: 30px ;
    font-weight: 100;
    padding-bottom: 2rem;
}

.date{
    padding: 0 1rem 0 1rem;
    margin: 0 auto;
    font-size: 18px; 
    font-weight: 500;
}

.temp{
    padding: 0 1rem 1rem 1rem;
    margin: 0 auto;
    font-size: 60px;
    font-family: "Orbitron";
    font-weight: bolder;
    border-bottom: 2px dashed var(--black);
    border-color: var(--white);
    padding-bottom: 2rem;
}

.icon{
    font-family: 'Concert One';
    align-items: center;
}

.weather, .temp-range{
    margin: 0 auto;
    padding: 1rem;
    font-size: 18px;
    display: flex;
}
.condition{
    margin: 0 auto;
    font-size: 18px;
}

#rotate{
    margin: 0 auto;
    padding: 3rem;
    font-size: 30px;
    transition: all ease .8s;
    color: rgb(14, 145, 14)
}

.base{
    display: flex;
    justify-content: space-between;
}

#base{
    padding: 1.8rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#base > p{
    font-size: 16px;
    padding-top: 0.8rem;
    text-align: center;
}


.hide{
    display: none;
}

@media  (max-width: 600px){
    body{
        background: url(background.jpg) center center fixed no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        /* height: 100vh; */
        
    }
    .container{
        /* margin: 0 auto;  */
        width: 100%;
        /* background-color:blue;   */
        padding: 0;
        height: 100%;
        /* display: none; */
    }
    .weather-man{
        background-color: var(--black);
        opacity: 0.7;
        color: var(--white);
        /* margin: 0 auto; */
        /* padding: 0.5rem; */
        max-width: 100%;
        height:100%;
        border-radius:12px;

    }

}

